@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

body {}

.video_conf {
  width: 240px !important;
  position: absolute;
  right: 10px;
  top: 10px;
}

.video_conf div {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.video_conf div video {
  border: 1px solid #000;
  position: relative;
}

.video_conf div video>p {
  position: absolute !important;
  bottom: 0;
  z-index: 9999 !important;
}